@use '../../styles/partials/colours' as *;
@use '../../styles/partials/spacing' as *;
@use '../../styles/partials/sizing' as *;

.error {
    // &--addition-modal {
    //     left: -3.5rem;
    // }

    color: $error-red;
    position: relative;
    bottom: 13px;
    margin: 0 3.5rem 0.625rem;
    // text-align: center;
    // left: 3.5rem;
    font-size: 14px;

    &--login {
        bottom: 0;
        // left: 3.2rem;
        margin: 0 3rem 0.625rem;
        // margin-bottom: 0.625rem;
        font-size: 1rem;
    }



}