@use '../../styles/partials/colours' as *;
@use '../../styles/partials/spacing' as *;
@use '../../styles/partials/sizing' as *;

.history-modal {
    position: absolute;
    border-top-right-radius: $modal-radius;
    border-top-left-radius: $modal-radius;
    height: fit-content;
    min-height: 100%;
    top: 4.5rem;
    width: 100vw;
    z-index: 999;
    background-color: white;

    &__heading {
        font-size: $modal-heading;
        margin: 1.5rem 2rem;
        text-align: center;
    }

}