@use '../../styles/partials/colours' as *;
@use '../../styles/partials/spacing' as *;
@use '../../styles/partials/sizing' as *;
@use '../../styles/mixins/mixins' as *;

.timer {
    &__container {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
        font-size: 1rem;
        border-radius: 15px;
        padding: .5rem;
        border: 2px solid $blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
        flex: 1;
    }

    &__title {
        font-weight: bold;
    }

    &__time {
        letter-spacing: 1px;
    }

    &__btn {
        font-size: 1rem;
        border-radius: 20px;
        height: 1.75rem;
        border: none;
        background-color: $blue;
        cursor: pointer;
        width: 100%;
    }
}