@use '../../styles/partials/colours' as *;
@use '../../styles/partials/spacing' as *;
@use '../../styles/partials/sizing' as *;

.workout-modal {
    position: absolute;
    background-color: aqua;
    border-top-right-radius: $modal-radius;
    border-top-left-radius: $modal-radius;
    width: 100%;
    height: 100%;

    &__heading {
        font-size: $modal-heading;
    }
}